build_dir/
bin/
target/
README.html
*.swp
*.txt
.DS_Store
launch.json
.idea
.classpath
.project
.settings
Gemfile
Gemfile.lock
.gitignore
.metadata
.recommenders
php/example_code/Find_replace_confirm changes.py
*.phar
._*
cpp/.vs/
*.iml
.vscode
.vs
__pycache__
venv
composer.*
vendor/
main.zip
obj/
*.dll
*.pdb
*.cache
vs/
.*~
