*.cache
*.dll
*.iml
*.pdb
*.phar
*.sln
*.swp
*.txt
*~
.DS_Store
._*
.classpath
.gitignore
.idea
.metadata
.project
.recommenders
.settings
.vs
.vscode
Gemfile
Gemfile.lock
README.html
__pycache__
bin/
build_dir/
composer.*
cpp/.vs/
launch.json
main.zip
obj/
target/
vendor/
venv
vs/
main.zip
node_modules/
cdk.out/
package-lock.json
